/* about section */

#aboutSection {
    margin-top: 14rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    height: 45rem;
}

/* mars image */
#marsImg {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 10rem;
    z-index: 2;
    top: 12rem;
    right: 3rem;
    opacity: .9;
    filter: brightness(90%);
}

/* mars/about background */
#marsBg {
    z-index: 1;
    width: 90rem;
    height: 31rem;
    position: absolute;
    top: 0;
    right: -13rem;
}
/* about card */

#aboutCard {
    width: 100%;
    max-width: 60rem;
    position: relative;
    padding: 1rem;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    z-index: 3;
}

/* image of my head inside a space helmet */

#personalImg {
    display: block;
    width: 100%;
    max-width: 18rem;
    opacity: 0;
    -webkit-transition: .5s all ease-in;
    -moz-transition: .5s all ease-in;
    -o-transition: .5s all ease-in;
    transition: .5s all ease-in;
}

/* the about text p tag */

.aboutTxt {
    color: white;
    width: 100%;
    max-width: 27rem;
    font-size: 1.2rem;
    display: block;
}

.cursorBlinker {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #a74300;
    }
}

@-moz-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #a74300;
    }
}

@-webkit-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #a74300;
    }
}

@-ms-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #a74300;
    }
}

@-o-keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #a74300;
    }
}