:root {
    --iconColor: #3b4e74;
    --emailColor: #c75000;
    --tooltipBg: #c75000;
    --tooltipText: #000000;
}

/* contact section article tag */

#contactSection {
    position: relative;
    overflow: hidden;
    height: 100%;
    height: 45rem;
}

/* contact form */

#contactForm {
    width: 100%;
    max-width: 35rem;
    height: auto;
    border-radius: 3px;
    /* background-color: rgba(32, 32, 32, 0.205); */
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

/* form title */

#formTitle {
    font-size: 2.2rem;
    color: white;
    margin: 1.5rem 0;
}

/* form text for the direct contact p tag */

.formText {
    font-size: .9rem;
    color: #afafaf;
    font-weight: 500;
}

/* anchor tag for the direct email */

#formEmail {
    color: var(--emailColor);
    text-decoration: none;
}

/* general contact input class */

.input {
    width: 100%;
    padding: .8rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Mandatory Plaything';
    color: black;
}

.input:focus {
    outline: none;
}

/* submit button wrapper */

.submitWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1.5rem 0;
}

/* submit button */

#submitFormBtn {
    font-family: 'Mandatory Plaything';
    font-size: 1.2rem;
    width: 100%;
    max-width: 9rem;
    padding: .3rem;
    border-radius: 3px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}

#submitFormBtn {
    outline: none;
}

/* social media icon wrap */

#socialIconWrap {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/* text above the social icons */

.socialText {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
}

/* the divider line between the social media content */

.divider {
    width: 100%;
    border: 1px solid #c75000;
    margin: 1.5rem 0;
    border-radius: 3px;
}

/* the social icons */

.socialIcon {
    font-size: 2rem;
    color: var(--iconColor);
    cursor: pointer;
}

/* span tag for the tooltip*/

.tool {
    position: relative;
}

/* common styles for both parts of tool tip */

.tool::before, .tool::after {
    left: 56%;
    opacity: 0;
    position: absolute;
    z-index: -100;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tool:hover::before, .tool:focus::before, .tool:hover::after, .tool:focus::after {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100;
}

/* pointer tip */

.tool::before {
    border-style: solid;
    border-width: 1em 0.75em 0 0.75em;
    border-color: var(--tooltipBg) transparent transparent transparent;
    bottom: 140%;
    content: "";
    margin-left: -0.85rem;
    transition: all .4s cubic-bezier(.84, -0.18, .31, 1.26), opacity .2s .2s;
    transform: scale(.6) translateY(-90%);
}

.tool:hover::before, .tool:focus::before {
    transition: all .4s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
}

/* speech bubble */

.tool::after {
    background: var(--tooltipBg);
    border-radius: 5px;
    bottom: 216%;
    color: var(--tooltipText);
    content: attr(data-tip);
    margin-left: -3.7rem;
    padding: .2rem;
    transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
    transform: scale(.6) translateY(50%);
    width: 7rem;
}

.tool:hover::after, .tool:focus::after {
    transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
}

@media (max-width: 760px) {
    .tool::after {
        font-size: .75em;
        margin-left: -5em;
        width: 10em;
    }
}

/* wrapper around the map */

#mapWrapper {
    height: 28rem;
    width: 30rem;
}

/* map tag */

#map {
    height: 100%;
    width: 100%;
}

/* changing the transparency of the tom tom copyright */

.mapboxgl-ctrl-bottom-right {
    opacity: 0;
}

/* ! TESTING */