:root {
    --iconColor: #3b4e74;
    --emailColor: #c75000;
}

/* contact section article tag */

#contactSection {
    position: relative;
    overflow: hidden;
    height: 100%;
    height: 45rem;
}

/* contact form */

#contactForm {
    width: 100%;
    max-width: 35rem;
    height: auto;
    border-radius: 3px;
    /* background-color: rgba(32, 32, 32, 0.205); */
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

/* form title */

#formTitle {
    font-size: 2.2rem;
    color: white;
    margin: 1.5rem 0;
}

/* form text for the direct contact p tag */

.formText {
    font-size: .9rem;
    color: #afafaf;
    font-weight: 500;
}

/* anchor tag for the direct email */

#formEmail {
    color: var(--emailColor);
    text-decoration: none;
}

/* general contact input class */

.input {
    width: 100%;
    padding: .8rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Mandatory Plaything';
    color: black;
}

.input:focus {
    outline: none;
}

/* submit button wrapper */

.submitWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1.5rem 0;
}

/* submit button */

#submitFormBtn {
    font-family: 'Mandatory Plaything';
    font-size: 1.2rem;
    width: 100%;
    max-width: 9rem;
    padding: .3rem;
    border-radius: 3px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}

#submitFormBtn {
    outline: none;
}

/* social media icon wrap */

#socialIconWrap {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/* text above the social icons */

.socialText {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
}

/* the divider line between the social media content */

.divider {
    width: 100%;
    border: 1px solid #c75000;
    margin: 1.5rem 0;
    border-radius: 3px;
}

/* the social icons */

.socialIcon {
    font-size: 2rem;
    color: var(--iconColor)
}

/* wrapper around the map */

#mapWrapper {
    height: 28rem;
    width: 30rem;
}

/* map tag */

#map {
    height: 100%;
    width: 100%;
}

/* changing the transparency of the tom tom copyright */

.mapboxgl-ctrl-bottom-right {
    opacity: 0;
}