:root {
    --iconColor: #3b4e74;
    --emailColor: #c75000;
    --tooltipBg: #c75000;
    --tooltipText: #000000;
    --inputBorderBefore: #3b4e74;
    --inputBorderAfter: #c75000;
    --inputLabel: #3b4e74;
}

/* contact section article tag */

#contactSection {
    position: relative;
    overflow: hidden;
    height: 100%;
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

/* contact form */

#contactForm {
    width: 100%;
    max-width: 35rem;
    height: auto;
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem;
    /* text-align: center; */
}

/* form title */

#formTitle {
    font-size: 2.2rem;
    color: white;
    margin: 1.5rem 0;
    text-align: center;
}

/* ! TESTING INPUT */

.group {
    position: relative;
    width: 100%;
    margin: 2rem 0;
}

.inputMaterial {
    font-size: 1.2rem;
    font-family: 'Mandatory Plaything';
    padding: .8rem 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--inputBorderBefore);
    background-color: transparent;
    color: white;
}

/* removing the resize box option for the message box */

textarea {
    resize: none;
}

/* to remove the red border around the input element since its required */

.inputMaterial:required {
    box-shadow: none;
}

.inputMaterial:focus {
    outline: none;
}

/* label for inputs */

label {
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

.inputMaterial:focus~label, .inputMaterial:valid~label {
    top: -10px;
    font-size: 1rem;
    color: var(--inputLabel);
}

/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: var(--inputBorderAfter);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */

.inputMaterial:focus~.bar:before, .inputMaterial:focus~.bar:after {
    width: 50%;
}

/* Error Text*/

.error-txt {
    position: absolute;
    font-family: arial;
    color: red;
    font-size: 14px;
    bottom: -18px;
    display: none;
}

.error input {
    border-bottom: 1px solid red;
}

.error .error-txt {
    display: block;
}

/*hide and show classes css*/

.hide {
    display: none;
}

.show {
    display: block;
}

/* ! TESTING INPUT */

/* general contact input class */

.input {
    width: 100%;
    padding: .8rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Mandatory Plaything';
    color: black;
}

.input:focus {
    outline: none;
}

/* submit button wrapper */

.submitWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1.5rem 0;
}

/* submit button */

#submitFormBtn {
    font-family: 'Mandatory Plaything';
    font-size: 1.2rem;
    width: 100%;
    max-width: 9rem;
    padding: .3rem;
    border-radius: 3px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}

#submitFormBtn {
    outline: none;
}

/* social media icon wrap */

#socialIconWrap {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/* text above the social icons */

.socialText {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}

/* the divider line between the social media content */

.divider {
    width: 100%;
    border: 1px solid #c75000;
    margin: 1.5rem 0;
    border-radius: 3px;
}

/* the social icons */

.socialIcon {
    font-size: 2rem;
    color: var(--iconColor);
    cursor: pointer;
}

/* span tag for the tooltip*/

.tool {
    position: relative;
}

/* common styles for both parts of tool tip */

.tool::before, .tool::after {
    left: 56%;
    opacity: 0;
    position: absolute;
    z-index: -100;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tool:hover::before, .tool:focus::before, .tool:hover::after, .tool:focus::after {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100;
}

/* pointer tip */

.tool::before {
    border-style: solid;
    border-width: 1em 0.75em 0 0.75em;
    border-color: var(--tooltipBg) transparent transparent transparent;
    bottom: 140%;
    content: "";
    margin-left: -0.85rem;
    transition: all .4s cubic-bezier(.84, -0.18, .31, 1.26), opacity .2s .2s;
    transform: scale(.6) translateY(-90%);
}

.tool:hover::before, .tool:focus::before {
    transition: all .4s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
}

/* speech bubble */

.tool::after {
    background: var(--tooltipBg);
    border-radius: 5px;
    bottom: 216%;
    color: var(--tooltipText);
    content: attr(data-tip);
    margin-left: -3.7rem;
    padding: .2rem;
    transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
    transform: scale(.6) translateY(50%);
    width: 7rem;
}

.tool:hover::after, .tool:focus::after {
    transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
}

@media (max-width: 760px) {
    .tool::after {
        font-size: .75em;
        margin-left: -5em;
        width: 10em;
    }
}

/* wrapper around the map */

#mapWrapper {
    height: 40rem;
    width: 100%;
    max-width: 40rem;
    position: relative;
}

/* map tag */

#map {
    height: 100%;
    width: 100%;
}

/* box that shows where i live */

#locationBox {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 14rem;
    height: 6rem;
    padding: .5rem;
    background-color: #3b4e74;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* location text stating the city */

.locationText {
    color: white;
    margin: 1rem 0;
    font-size: .9rem;
    width: 100%;
}

/* email text inside the location box */

.locationEmailText {
    width: 100%;
    color: white;
    margin: 1rem 0;
    font-size: .9rem;
}

/* the email address attached to the anchor tag */

.locationEmail {
    color: var(--emailColor);
}

/* changing the transparency of the tom tom copyright */

.mapboxgl-ctrl-bottom-right {
    opacity: 0;
}

/* marker icon */

.mapboxgl-marker>div {
    display: none;
}

/* point marker */

.mapboxgl-marker>svg {
    width: 35px;
    height: 45px;
    cursor: pointer;
    fill: var(--iconColor)
}