/* footer element */

footer {
    margin-top: 3rem;
    padding: .3rem 0;
    width: 100%;
    background-color: black;
}

/* p tag wrapper around the footer copyright and date */

#footerDateWrapper {
    margin: .5rem 0;
    letter-spacing: .1rem;
    text-align: center;
    color: #3b4e74;
    font-size: 1rem;
}

/* copy sign */

#copySign {
    color: #c75000;
}

/* footer name and text wrapper */

#ownershipTextWrap {
    margin: .5rem 0;
    text-align: center;
    color: #3b4e74;
    letter-spacing: .1rem;
    font-size: 1rem;
}

/* hear icon */

.ownershipHeart {
    color: #c75000;
    font-size: 1rem;
    margin: 0;
}