:root {
    --desktop-primary-color: #181818;
    --accent-color: #a236c9;
    --side-color: #444444;
}
/* for the text that says "hi i'm jeffrey vanhorn" */

#introText1 {
    display: block;
    font-size: 4rem;
    color: white;
    text-align: center;
    /* webkit animation */
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: bounce-up;
    /* moz animation */
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: bounce-up;
    /* ms animation */
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: bounce-up;
    /* animation */
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: bounce-up;
}

@-webkit-keyframes bounce-up {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@-moz-keyframes bounce-up {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@-ms-keyframes bounce-up {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@keyframes bounce-up {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

#introText2 {
    display: block;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
    /* webkit animation */
    -webkit-animation-delay: 2.5s;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: bounce-up2;
    /* moz animation */
    -moz-animation-delay: 2.5s;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: bounce-up2;
    /* ms animation */
    -ms-animation-delay: 2.5s;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: bounce-up2;
    /* animation */
    animation-delay: 2.5s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: bounce-up2;
}

@-webkit-keyframes bounce-up2 {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@-moz-keyframes bounce-up2 {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@-ms-keyframes bounce-up2 {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@keyframes bounce-up2 {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}
/* inner wrapper wrapping the contents of the intro text 3 */
#innerIntroText3Wrap {
    width: 90%;
    max-width: 35rem;
}
/* actual text of the intro text 3 */
#mediaTextWrap > p {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
/* wrap around all social media icons */
#socialMediaWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* all social media icons */
.mediaIcon {
    color: var(--accent-color);
    margin: .3rem 1rem;
}
#introText3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 2rem;
    /* webkit animation */
    -webkit-animation-delay: 4.8s;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: bounce-up3;
    /* moz animation */
    -moz-animation-delay: 4.8s;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: bounce-up3;
    /* ms animation */
    -ms-animation-delay: 4.8s;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: bounce-up3;
    /* animation */
    animation-delay: 4.8s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: bounce-up3;
}

@-webkit-keyframes bounce-up3 {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@-moz-keyframes bounce-up3 {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@-ms-keyframes bounce-up3 {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@keyframes bounce-up3 {
    0% {
        transform: translate(0px, 1500px);
    }
    20% {
        transform: translate(0px, 355px);
    }
    25%, 65%, 75% {
        transform: translate(0px, 375px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}