:root {
    --desktop-primary-color: #181818;
    --accent-color: #a236c9;
}

@font-face {
    font-family: 'Mandatory Plaything';
    src: url('../fonts/MandatoryPlaything-nRRd0.ttf');
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #00051a;
    font-family: 'Mandatory Plaything';
}

/* wrapper to surround flex elements */

.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}