/* @import url('./about.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./navbar.css');
@import url('./pageLoader.css');
@import url('./projects.css');
@import url('./specialties.css'); */

:root {
    --desktop-primary-color: #00051a;
    --accent-color: #a236c9;
    /* orange c75000 */
    /* blue 3b4e74 */
}

@font-face {
    font-family: 'Mandatory Plaything';
    src: url('../fonts/MandatoryPlaything-nRRd0.ttf');
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #00051a;
    font-family: 'Mandatory Plaything';
}

/* wrapper to surround flex elements */

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

/* fading in */

.fade {
    opacity: 1;
}
