/* specialty section */

#specialtiesSection {
    overflow: hidden;
    align-items: center;
    height: 58rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* inner wrap of cards */

#specialtiesWrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

/* wrap around the content and text of the specialties section (title, cards, etc...) */

#specialtiesContent {
    margin: 1rem;
}

/* title */

.specialtiesTitle {
    color: white;
    font-size: 2.2rem;
    margin: 0;
}

/* unordered list for all my specialties */

#specialtiesContent>ul {
    list-style-type: none;
    color: white;
    margin-left: 2.5rem;
}

/* each list item */

.specialtyList {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

/* icon for each list item */

.fas {
    color: #a74300;
    font-size: 1.8rem;
    margin-right: .5rem;
}

/* canvas container containing all the content for the canvas */

#myCanvasContainer {
    /* width: 100%;
    max-width: 600px; */
    /* margin-left: auto; */
}
#myCanvas {
    width: 100%;
}
/* each image inside the canvas */

.canvasImg {
    width: 75px;
    height: 75px;
}