/* specialty section */

#specialtiesSection {
    overflow: hidden;
    align-items: center;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* inner wrap of cards */

#specialtiesWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 1rem;
}

/* wrap around the content and text of the specialties section (title, cards, etc...) */

#specialtiesContent {}

/* title */

.specialtiesTitle {
    color: white;
    font-size: 2rem;
}

/* canvas image */

.canvasImg {
    width: 75px;
    height: 75px;
}