/* footer element */

footer {
    position: relative;
    padding: .3rem 0;
    width: 100%;
    background-color: black;
}

/* website counter */
#webCounter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
}
/* p tag wrapper around the footer copyright and date */

#footerDateWrapper {
    margin: .5rem 0;
    letter-spacing: .1rem;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

/* copy sign */

#copySign {
    color: #c75000;
}

/* footer name and text wrapper */

#ownershipTextWrap {
    margin: .5rem 0;
    text-align: center;
    color: #ffffff;
    letter-spacing: .1rem;
    font-size: 1rem;
}

/* hear icon */

.ownershipHeart {
    color: #c75000;
    font-size: 1rem;
    margin: 0;
}